<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.longpc.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.longpc.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.longpc.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.longpc.controller.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.longpc.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.longpc.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.longpc.controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFromCartServlet</servlet-name>
        <servlet-class>com.longpc.controller.UpdateFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>com.longpc.controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.longpc.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>com.longpc.controller.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.longpc.controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDiscountServlet</servlet-name>
        <servlet-class>com.longpc.controller.CheckDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.longpc.controller.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>com.longpc.controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRatingServlet</servlet-name>
        <servlet-class>com.longpc.controller.SendRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <servlet-class>com.longpc.controller.RemoveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderRemovedServlet</servlet-name>
        <servlet-class>com.longpc.controller.GetOrderRemovedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>com.longpc.controller.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFromCartServlet</servlet-name>
        <url-pattern>/UpdateFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/VerifyEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDiscountServlet</servlet-name>
        <url-pattern>/CheckDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRatingServlet</servlet-name>
        <url-pattern>/SendRatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <url-pattern>/RemoveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderRemovedServlet</servlet-name>
        <url-pattern>/GetOrderRemovedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/AutoCompleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>RentCar</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>FORM_USER_NAME</param-name>
        <param-value>userName</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_USER_EMAIL</param-name>
        <param-value>userEmail</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_USER_PHONE</param-name>
        <param-value>userPhone</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_USER_ID</param-name>
        <param-value>userId</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_USER_ADDRESS</param-name>
        <param-value>userAddress</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_USER_PASSWORD</param-name>
        <param-value>userPassword</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_FROM_DATE</param-name>
        <param-value>fromDate</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_TO_DATE</param-name>
        <param-value>toDate</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_PRODUCT_ID</param-name>
        <param-value>productId</param-value>
    </context-param>
    <context-param>
        <param-name>FORM_PRODUCT_QUANTITY</param-name>
        <param-value>productQuantity</param-value>
    </context-param>
    <context-param>
        <param-name>SEARCH_NAME</param-name>
        <param-value>searchName</param-value>
    </context-param>
    <context-param>
        <param-name>SEARCH_TO_DATE</param-name>
        <param-value>searchToDate</param-value>
    </context-param>
    <context-param>
        <param-name>SEARCH_FROM_DATE</param-name>
        <param-value>searchFromDate</param-value>
    </context-param>
    <context-param>
        <param-name>SEARCH_CATEGORY</param-name>
        <param-value>searchCategory</param-value>
    </context-param>
    <context-param>
        <param-name>CART_SESSION</param-name>
        <param-value>cartSession</param-value>
    </context-param>
</web-app>
